body {
  	background-color: lightblue;
}

#button{
	
}

#title{
	color: white;
  	text-align: center;
}

#thumbnail{
	
}

#thePic{
	
}

#desc{
	font-family: verdana;
  	font-size: 20px;
}

#picTag{
	
}
