body {
  	background-color: lightblue;
}

button{
	color: #0099CC; 
	background: white; 
	border: 2px solid #0099CC;
	border-radius: 6px; 
	text-transform: uppercase;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 1px;
	margin-right: 1px;
}

button:hover {
	background-color: #008CBA;      
	color: white; 
}


#title{
	color: white;
  	text-align: center;
  	font-size: 64px;
	font-weight: bold;
	font-family: Helvetica;
	text-shadow: 2px 2px 4px #000000;
}

#tags{
	margin-top: 10px;
	margin-bottom: 10px;
}

#thumbnail{
	border: 2px solid #0099CC;
	border-radius: 6px; 
	margin: 10px;
}

#thumbnail:hover {
    opacity: 1;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

#thePic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-color: #0099CC;
	border-style: solid;
	border-radius: 5px;	
}

#desc{
	font-family: verdana;
  	font-size: 30px;
  	text-align: center;
}

#picTag{
	font-family: verdana;
	text-align: center;
	font-size: 20px;
}
